* {
    outline: none;
}

body {
    background-color: rgb(245,218,189);
    text-align: center;
    margin: 0;
    font-weight: bolder;
    font-family: 'Varela Round', sans-serif;
}

nav {
    list-style-type: none;
    width:100%;
    padding: 10px;
    background-color: rgb(140,136,111);
    font-weight: lighter;
}