* {
    outline: none;
}

body {
    background-color: rgb(245,218,189);
    text-align: center;
    margin: 0;
    font-weight: bolder;
    font-family: 'Varela Round', sans-serif;
}

nav {
    list-style-type: none;
    width:100%;
    padding: 10px;
    background-color: rgb(249,167,153);
    font-weight: lighter;
}

nav li {
    display: inline;
}

nav li a {
    color: rgb(140,136,111);
    text-decoration: none;
    padding: 0px 70px 0px 70px;
}

li {
    list-style-type: none;
}

li a:hover{
    color: rgb(183,203,191);
}

th {
   padding: 15px;
}