* {
    outline: none;
}

body {
    background-color: rgb(245,218,189);
    text-align: center;
    margin: 0;
    font-weight: bolder;
}

nav {
    list-style-type: none;
    width:100%;
    padding: 10px;
    background-color: rgb(140,136,111);
}

li {
    display: inline;
}

li a {
    color: rgb(245,218,189);
    text-decoration: none;
    padding: 100px;
}

button {
    padding: 10px;
    background-color: rgb(140,136,111);
}
