body {
    background-color: rgb(245,218,189);
    text-align: center;
    margin: 0;
    font-weight: lighter;
}

#salmon {
    opacity: 0.2;
}

nav {
    list-style-type: none;
}

li {
    display: inline;
    align-items: right;
    text-decoration: none;
    padding: 50px;
}

